/*------------
 google font 
----------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.form-bg{
    background-color: aliceblue;
}

@media only screen and (max-width:576px) {
    .banner-img{
        /* height: 500px; */
        min-height: 500px;
        
    }
    .container-flex{
        flex-direction: column;
        justify-items: center;
    }
    .people-img{
        width: 100%;
    }
    
}